{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="card" style="position: absolute; width: 25rem; background-color: #ececec; top: 10%; left: 42%;">
        <img src="./static/images/apollon.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Connecting Users Together</h5>
            <form action="/analyze_senti" method="POST">
                <div class="form-group">
                    <label for="fileInput" style="align-items: center;"><strong>Sentence</strong></label>
                    <br>
                    <input type="text" name="sentence" class="form-control" id="usr">
                    <br>
                    <button type="submit" class="btn btn-primary">Submitt</button>
                </div>
            </form>
        </div>
</div>
{% endblock %}
