n{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="card" style="position: absolute; width: 25rem; background-color: #ececec; top: 10%; left: 42%;">
        <img src="./static/images/artemis.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Making Document Reading a breeze</h5>
            <form action="/analyze_text" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="fileInput" style="align-items: center;"><strong>Sentence</strong></label>
                    <br>
                    <input id="fileInput" type="file" name="doc" class="form-control" id="usr">
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <hr>
</div>
{% endblock %}
