{% extends "base.html" %}
{% block content %}
<div>
    <canvas id="canvas1"></canvas>
</div>
<script src="{{url_for('static',filename='js/Chart.min.js')}}"></script>
<script>

    Chart.defaults.global.defaultFontColor = 'white';
    Chart.defaults.global.defaultFontSize = 14;

    var ctx = document.getElementById("canvas1").getContext("2d");

    var pos_c = {{ pos }}
    var neg_c = {{ neg }}
    // var neu_c = {{ neu }}

    var data = {
        labels: ["😊", "😞"],
        datasets: [{
            data: [pos_c, neg_c],
            label: "Sentiment  Confidence (%)",
            backgroundColor: [
                'rgba(4,212,250,255)',
                'rgba(227,89,151,255)'
            ],
            borderColor: [
                'rgba(210,235,254,255)',
                'rgba(210,235,254,255)'
            ],
            borderWidth: 1
        }],
    }

    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: data,
        options: {
            title: {
                display: true,
                text: "Sentiment Prediction"
            },
            scales: {
                xAxes: [{
                    ticks: {
                        suggestedMax: 1.0,
                        suggestedMin: 0.0,
                        stepSize: 0.1 
                    }
                }]
            }
        }
    });
</script>
{% endblock %}
